.Nav {
  position: absolute;
  opacity: 0.5;
  width: 50px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity .3s;
}

.Nav:hover {
  opacity: 0.8;
}

.booking h3 {
  transform: translateX(-15px);
  height: 100px;
  width: 1000px;
  line-height: 90px;
  border: 5px solid;
  border-color: #007bff;
  background-color: #007bff;
  color: white;
}