@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#zmmtg-root {
  display: none;
}

.bg-white {
  background-color: #ffffff !important;
  border-bottom: #cfcfcf solid 1px;
}

.hp-container {
  height: 60vh;
  position: relative;
  background-color: black;
  background: url("https://edoctor-attachments-bucket.s3.us-east-2.amazonaws.com/bg.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.hp-content {
  height: 100%;
  padding-top: 100px;
  top: 50;
}

.hp-brand {
  color: #fff !important;
  font-size: 80px;
}

.hp-slogan {
  color: #fff !important;
}
